$tag-radius: 10px;
$panel-tab-border-bottom: none;
$panel-item-border: none;

$green: darken(#20c20e, 7%);
$yellow: #ffb600;
$red: #d50037;

$navbar-item-img-max-height: 4rem;

// purple theme
// $theme_base_color:  #280e34;
// $theme_text_color: #fff;

// light theme
// $theme_base_color:  #cecece;
// $theme_text_color: #2F2F2F;

// dark theme
$theme_base_color: #FFF;
$theme_text_color: #0A0A0A;


$text-padding: 0.75rem;

@import "../../node_modules/css-vars/css-vars.scss";
$css-vars-use-native: true;

@import "../../node_modules/@fortawesome/fontawesome-svg-core/styles.css";
@import "../../node_modules/bulma/bulma.sass";


$text_color_0: $theme_text_color;
$theme_color_0: lighten($theme_base_color, 5%);
$theme_color_1: lighten($theme_base_color, 10%);
$theme_color_2: lighten($theme_base_color, 15%);

$theme_shadow: inset 0 0 10px;

.logo {
    width: 4rem;
    height: auto;
}

.brand-icon {
    color: $white;
    font-size: 48px;
}

.logo-link {
    color: $dark !important;
}

.logo-link:hover {
    color: lighten($dark, 5%) !important;
}

.logo-link:active {
    color: $dark;
}

.brand-icon:hover {
    color: $light;
}

@include css-vars(
    (
        --theme_base_color: $theme_base_color,
        --text_color_0: $text_color_0,
        --theme_color_0: $theme_color_0,
        --theme_color_1: $theme_color_1,
        --theme_color_2: $theme_color_2,
    )
);


.section {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 20px;
}

.copy-text {
    padding-bottom: 5px;
}

h1 {
    font-size: 2.5rem;
    text-emphasis: bold;
    padding-bottom: $text-padding;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: $text-padding;
}

h3 {
    font-size: 1.25rem;
    padding-bottom: $text-padding;
}

p {
    padding-bottom: $text-padding;
}

ul {
    text-decoration: dashed;
    list-style-type: disc;
    padding-bottom: $text-padding;
}

.no-pad {
    padding: 0;
}


.brand-link {
    color: $white !important;
}

.input-wrapper {
    max-width: 420px;
}