$tag-radius: 10px;
$panel-tab-border-bottom: none;
$panel-item-border: none;

$green: darken(#20c20e, 7%);
$yellow: #ffb600;
$red: #d50037;

// purple theme
// $theme_base_color:  #280e34;
// $theme_text_color: #fff;

// light theme
// $theme_base_color:  #cecece;
// $theme_text_color: #2F2F2F;

// dark theme
$theme_base_color: #FFF;
$theme_text_color: #0A0A0A;


@import "../../node_modules/css-vars/css-vars.scss";
$css-vars-use-native: true;

@import "../../node_modules/@fortawesome/fontawesome-svg-core/styles.css";
@import "../../node_modules/bulma/bulma.sass";


$text_color_0: $theme_text_color;
$theme_color_0: lighten($theme_base_color, 5%);
$theme_color_1: lighten($theme_base_color, 10%);
$theme_color_2: lighten($theme_base_color, 15%);

$theme_shadow: inset 0 0 10px;

.brand-icon {
    color: $white;
    font-size: 48px;
}

.brand-icon:hover {
    color: $light;
}

@include css-vars(
    (
        --theme_base_color: $theme_base_color,
        --text_color_0: $text_color_0,
        --theme_color_0: $theme_color_0,
        --theme_color_1: $theme_color_1,
        --theme_color_2: $theme_color_2,
    )
);


.panel-wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 20px;
}

.brand-link {
    color: $white !important;
}
