$text-padding: 0.75rem;

.logo {
    width: 4rem;
    height: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 20px;
}

.copy-text {
    padding-bottom: 5px;
}

h1 {
    font-size: 2.5rem;
    text-emphasis: bold;
    padding-bottom: $text-padding;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: $text-padding;
}

h3 {
    font-size: 1.25rem;
    padding-bottom: $text-padding;
}

p {
    padding-bottom: $text-padding;
}

ul {
    text-decoration: dashed;
    list-style-type: disc;
    padding-bottom: $text-padding;
}

.no-pad {
    padding: 0;
}

.input-wrapper {
    max-width: 420px;
}
